<div class="container">
  <h2 class="mb-3">New Account</h2>
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Name" />
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Email" />
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" placeholder="Password" />
    </div>
    <div class="mb-3">
      <select type="text" class="form-select" placeholder="Name">
        <option value="">Select Role</option>
      </select>
    </div>
    <button type="submit" class="btn btn-dark w-100 mb-2">Create</button>
    <div>Already have an account? <a routerLink="../login">Login</a></div>
  </form>
</div>
