<div class="container">
  <h2 class="mb-3">New Account</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Name"
        formControlName="name"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>
    <div class="mb-3">
      <select type="text" class="form-select" formControlName="roleId" required>
        <option value="">Select Role</option>
        <option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-dark w-100 mb-2">Create</button>
    <div>Already have an account? <a routerLink="../login">Login</a></div>
  </form>
</div>
