<div class="border-bottom p-2">
  <h2 class="m-0">Welcome back, {{ user?.name }}</h2>
</div>
<div class="container justify-content-around mt-3">
  <div class="row">
    <button routerLink="dashboard" class="col btn btn-dark rounded pt-5 pb-5 border text-center">
      Dashboard
    </button>
    <button routerLink="projects" class="col btn btn-dark rounded pt-5 pb-5 border text-center">
      Projects
    </button>
    <button routerLink="profile" class="col btn btn-dark rounded border text-center">
      Profile
    </button>
  </div>
</div>
