<h1>Project Title</h1>
<!-- LEFT -->
<div class="row">
  <div class="col border rounded p-2 m-2">
    <h4 class="border rounded p-2 text-center btn-dark m-0">Team Overview</h4>
    <div class="p-2">
      <div class="row pe-2">
        <div class="col">No. of members</div>
        <div class="col d-flex justify-content-end">
          <div class="ps-3 pe-3 rounded" style="background: rgb(196, 196, 196)">
            0
          </div>
        </div>
      </div>
      <div class="row mt-1 pe-2">
        <div class="col">Project Manager</div>
        <div class="col d-flex justify-content-end">
          <div class="ps-3 pe-3 rounded" style="background: rgb(196, 196, 196)">
            0
          </div>
        </div>
      </div>
    </div>
    <h4 class="border rounded p-2 text-center btn-dark m-0">Members</h4>
    <div class="p-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- MIDDLE -->
  <div class="col border rounded p-2 m-2">
    <h4 class="border rounded p-2 text-center btn-dark m-0">Project Overview</h4>
    <div class="p-2">
      <div class="row pe-2">
        <div class="col-4">No. of members</div>
        <div class="col-8">
          asdfasdfasdfasdfa sdfasdfasdf asdfasdfasdf asdfasdfasdfasdfa sdfasdfasd fasdfas
        </div>
      </div>
      <div class="row mt-1 pe-2">
        <div class="col-4">Start</div>
        <div class="col-8">
          asdfasdf asdf asdfa asdf asdf asdf asdf asdf asdf
        </div>
      </div>
    </div>
    <h4 class="border rounded p-2 text-center btn-dark m-0">Tasks</h4>
    <div class="p-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
