<h1>Project {{ projectDetails?.name }}</h1>

<div class="row">
  <!-- LEFT -->
  <div class="col border rounded p-2 m-2">
    <h4 class="border rounded p-2 text-center btn-dark m-0">Team Overview</h4>
    <div class="p-2">
      <div class="row pe-2">
        <div class="col fw-bold">No. of members</div>
        <div class="col d-flex justify-content-end">
          <div class="ps-3 pe-3 rounded" style="background: rgb(196, 196, 196)">
            {{ projectDetails?.users.length }}
          </div>
        </div>
      </div>
      <div class="row mt-1 pe-2">
        <div class="col fw-bold">Project Manager</div>
        <div class="col d-flex justify-content-end">
          <div class="ps-3 pe-3 rounded" style="background: rgb(196, 196, 196)">
            1
          </div>
        </div>
      </div>
    </div>
    <h4 class="border rounded p-2 text-center btn-dark m-0">Members</h4>
    <div class="p-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of projectDetails?.users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ member.name }}</td>
            <td>{{ member.role.name }}</td>
            <td *ngIf="true">
              <i
                class="fa-solid fa-trash-can"
                style="cursor: pointer"
                *ngIf="member.role.name == 'Employee'"
                (click)="removeMemberFromProject(member.id)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- MIDDLE -->
  <div class="col border rounded p-2 m-2">
    <h4 class="border rounded p-2 text-center btn-dark m-0">
      Project Overview
    </h4>
    <div class="p-2">
      <div class="row pe-2">
        <div class="col-4 fw-bold">Description</div>
        <div class="col-8">
          {{ projectDetails?.description }}
        </div>
      </div>
      <div class="row mt-1 pe-2">
        <div class="col-4 fw-bold">Status</div>
        <div class="col-8">{{ projectDetails?.status }}</div>
      </div>
      <div class="row mt-1 pe-2">
        <div class="col-4 fw-bold">Start Date</div>
        <div class="col-8">{{ parseDate(projectDetails?.startTime) }}</div>
      </div>
      <div class="row mt-1 pe-2">
        <div class="col-4 fw-bold">End Date</div>
        <div class="col-8">{{ parseDate(projectDetails?.endTime) }}</div>
      </div>
    </div>
    <h4 class="border rounded p-2 text-center btn-dark m-0">Tasks</h4>
    <div class="p-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Assigned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>none</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="col border rounded p-2 m-2 text-center">
    <h4 class="border rounded p-2 text-center btn-dark m-0">Control Panel</h4>
    <button
      (click)="getEmployees()"
      class="btn btn-outline-primary w-75 mt-3"
      data-bs-toggle="modal"
      data-bs-target="#addMemberModal"
    >
      Add Member
    </button>
    <button
      class="btn btn-outline-warning w-75 mt-3"
      data-bs-toggle="modal"
      data-bs-target="#addTaskModal"
    >
      Add Tasks
    </button>
    <button class="btn btn-outline-danger w-75 mt-3" (click)="deleteProject()">
      Delete Project
    </button>
    <button
      class="btn btn-outline-success w-75 mt-3"
      (click)="setProjectStatusToCompleted()"
    >
      Project Completed
    </button>
  </div>
</div>

<!-- ADD MEMBER MODAL -->
<div
  class="modal fade"
  id="addMemberModal"
  tabindex="-1"
  aria-labelledby="addMemberModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMemberModalLabel">Add member(s)</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let employee of employeeList">
          <div class="row align-items-center mb-2">
            <div class="col">{{ employee.name }}</div>
            <div class="col">{{ employee.role.name }}</div>
            <div class="col text-end">
              <button
                class="btn btn-success"
                (click)="addMemberToProject(employee.id)"
              >
                Add
              </button>
            </div>
          </div>
        </ng-container>
        <div *ngIf="employeeList.length == 0" class="text-center p-5">
          Nothing to see here.
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ADD TASK MODAL -->
<div
  class="modal fade"
  id="addTaskModal"
  tabindex="-1"
  aria-labelledby="addTaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Add task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="name" class="form-label">Description</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
